@import "base/reset.scss";
@import "base/fonts.scss";
@import "utils/mixins.scss";
@import "utils/variables.scss";
@import "utils/animations";
body {
    min-width: 375px;
    list-style-type: none;
    text-align: center;
    font-family: $fonts1;
    text-decoration: none;
}

.wrapper {
    min-width: 375px;
    max-width: 1500px;
    margin: 0 auto;
}


/*loader*/

.chargement {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: lumineux 2s linear;
    visibility: hidden;
    z-index: 10;
    &__lettre {
        color: $primary-color;
        font-size: 80px;
        letter-spacing: 15px;
        margin-bottom: 150px;
        animation: lumineux 1.2s 3 linear;
    }
}

.chargement__lettre:nth-child(1) {
    animation-delay: 0.1s;
}

.chargement__lettre:nth-child(2) {
    animation-delay: 0.2s;
}

.chargement__lettre:nth-child(3) {
    animation-delay: 0.3s;
}

.chargement__lettre:nth-child(4) {
    animation-delay: 0.4s;
}


/*PAGE D'ACCUEIL*/


/*header*/

header {
    width: 100%;
    background-color: #fff;
}

.logo {
    width: 150px;
    padding: 20px 0 15px 0;
}


/*localisation-Titre*/

.presentation {
    display: flex;
    flex-direction: column;
    background-color: #faf8f8;
    .presentation__localisation {
        display: flex;
        justify-content: center;
        background-color: #f0ecec;
        padding: 10px 0;
        border-top: 3px solid#d6d4d4;
        .icon {
            margin-right: 15px;
        }
    }
    .presentation__site {
        margin: 20px 45px;
        h1 {
            font-weight: 500;
            font-size: 20px;
            padding: 10px;
        }
        p {
            font-weight: 100;
        }
    }
}

.btn__action {
    @include btnviolet;
    &:hover {
        cursor: pointer;
        @include survol;
    }
}


/*Fonctionnement*/

.fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    .fonctionnement__titre {
        margin: 10px 0;
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        padding-left: 15px;
        @include titre;
    }
    .fonctionnement__explication {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 30px;
        @media only screen and (min-width: 1000px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-evenly;
        }
    }
    .fonctionnement__liste {
        display: flex;
        align-items: center;
        padding: 20px 0;
        margin: 10px 0;
        border-radius: 20px;
        border: 1px solid #f2f2f2;
        box-shadow: 0px 7px 10px -6px #b9b8b8;
        position: relative;
        background-color: #ececec;
        &:hover {
            background-color: #f8eef8;
            cursor: pointer;
            i {
                color: $primary-color;
            }
        }
        @media only screen and (min-width: 1000px) {
            margin: 10px;
            padding-right: 35px;
        }
        i {
            padding: 0 20px 0 50px;
            color: #a5a5a5;
        }
        .fonctionnement__chiffre {
            display: flex;
            border-radius: 100%;
            height: 1.5em;
            width: 1.5em;
            border: 1px solid #f2f2f2;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: $primary-color;
            position: absolute;
            left: -15px;
        }
    }
}


/*Page d'accueil - Resataurants*/

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f0f0;
    @media only screen and (min-width: 634px) {
        background-color: transparent;
    }
    .restaurants__titre {
        font-weight: 500;
        font-size: 20px;
        text-align: left;
        padding: 30px 0 30px 15px;
        @include titre;
    }
    .restaurants__bloc {
        background-color: #f3f0f0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @media only screen and (min-width: 634px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            padding: 40px;
            background-color: transparent;
        }
        .restaurants__cartes {
            @include restocarte;
            margin: 20px 15px;
            text-decoration: none;
            color: rgb(29, 165, 81);
            position: relative;
            img {
                width: 100%;
                height: 70%;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }
            .restaurants__cartes__texte {
                display: flex;
                justify-content: space-between;
                color: #000;
                padding: 15px 15px 0 10px;
                text-align: left;
            }
            .restaurants__nouveau {
                position: absolute;
                top: 15px;
                right: 15px;
                @include nouveau;
            }
            i {
                font-size: 25px;
            }
        }
    }
}

#stop1 {
    stop-color: $primary-color;
}

#stop2 {
    stop-color: $secondary-color;
}


/*footer*/

.footer {
    background-color: rgb(46, 46, 46);
    text-align: left;
    padding: 20px;
    text-decoration: none;
    img {
        filter: invert(100%);
        width: 100px;
        padding-bottom: 15px;
    }
    .footer__liste {
        padding-bottom: 25px;
        a {
            text-decoration: none;
            color: #fff;
        }
        i {
            padding-right: 25px;
            width: 5px;
        }
    }
}


/*PAGE MENUS*/


/*header*/

.header__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
        font-size: 20px;
        margin-left: 10px;
        color: #000;
        margin-right: 25px;
    }
    .logo {
        text-align: center;
    }
}

.background1 {
    background-image: url(../Maquettes/images/restocomp/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    @include background;
}

.background2 {
    background-image: url(../Maquettes/images/restocomp/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include background;
}

.background3 {
    background-image: url(../Maquettes/images/restocomp/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include background;
}

.background4 {
    background-image: url(../Maquettes/images/restocomp/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include background;
}

svg {
    @include svg;
}

.menu {
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .menu__name {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $fonts2;
        font-size: 25px;
        margin: 20px 0;
        border-radius: 40px 40px 0 0;
        margin-top: -30px;
        background-color: rgb(245, 245, 245);
    }
    i {
        font-size: 20px;
    }
    h1 {
        padding: 20px;
    }
}

.menu__bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (min-width: 1109px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
    h2 {
        text-align: left;
        margin-left: 20px;
    }
    .menu__choix {
        margin-bottom: 30px;
        hr {
            @include hr;
        }
        .btn__menu {
            display: flex;
            @include btn-menu;
            align-items: center;
            position: relative;
            overflow: hidden;
            &:nth-child(1) {
                animation: apmenu 0.5s ease;
            }
            &:nth-child(2) {
                animation: apmenu 1s ease;
            }
            &:nth-child(3) {
                animation: apmenu 1.5s ease;
            }
            &:nth-child(4) {
                animation: apmenu 2s ease;
            }
            p {
                text-align: left;
            }
            &:hover {
                cursor: pointer;
            }
            .menu__titre {
                width: 100%;
                transition: width .300s ease;
            }
            .menu__prix {
                display: flex;
                justify-content: space-between;
                width: 100%;
                p:first-of-type {
                    @include menu-titre;
                    width: 70%;
                }
                p:last-of-type {
                    font-weight: bold;
                    margin-right: 5px;
                    margin-left: auto;
                }
            }
            .menu__check {
                display: flex;
                align-items: center;
                justify-content: center;
                @include btn-check;
                transform: translateX(100%);
                transition: transform .3s ease;
                i {
                    color: #fff;
                    align-items: center;
                }
            }
            &:hover {
                .menu__check {
                    align-items: center;
                    justify-content: center;
                    transform: translateX(0);
                    i {
                        transform: rotate(360deg);
                        transition: transform 0.5s ease;
                    }
                }
                .menu__titre {
                    width: 80%;
                }
            }
        }
    }
}

.commander {
    margin: 50px 0;
}