/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*responsive */
/*menu*/
/*animation de chargement*/
@keyframes lumineux {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
    visibility: visible;
    opacity: 1;
  }
  30% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    color: #FF79DA;
    text-shadow: none;
    opacity: 0.5;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes lumineux {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
    visibility: visible;
    opacity: 1;
  }
  30% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    color: #FF79DA;
    text-shadow: none;
    opacity: 0.5;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
    opacity: 0;
    visibility: hidden;
  }
}
/*animation des boutons menu*/
@keyframes apmenu {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes apmenu {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation des coeurs*/
@keyframes favoris {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes favoris {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes favoris {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes favoris {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
body {
  min-width: 375px;
  list-style-type: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.wrapper {
  min-width: 375px;
  max-width: 1500px;
  margin: 0 auto;
}

/*loader*/
.chargement {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: lumineux 2.5s linear;
  visibility: hidden;
  z-index: 10;
}
.chargement__lettre {
  color: #9356DC;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: lumineux 0.7s 3 linear;
}

.chargement__lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.chargement__lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.chargement__lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.chargement__lettre:nth-child(4) {
  animation-delay: 0.4s;
}

/*PAGE D'ACCUEIL*/
/*header*/
header {
  width: 100%;
  background-color: #fff;
}

.logo {
  width: 150px;
  padding: 20px 0 15px 0;
}

/*localisation-Titre*/
.presentation {
  display: flex;
  flex-direction: column;
  background-color: #faf8f8;
}
.presentation .presentation__localisation {
  display: flex;
  justify-content: center;
  background-color: #f0ecec;
  padding: 10px 0;
  border-top: 3px solid #d6d4d4;
}
.presentation .presentation__localisation .icon {
  margin-right: 15px;
}
.presentation .presentation__site {
  margin: 20px 45px;
}
.presentation .presentation__site h1 {
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}
.presentation .presentation__site p {
  font-weight: 100;
}

.btn__action {
  padding: 10px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  border-radius: 25px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
}
.btn__action:hover {
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 6px 6px 5px 2px #cecece;
}

/*Fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.fonctionnement .fonctionnement__titre {
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}
@media only screen and (min-width: 815px) {
  .fonctionnement .fonctionnement__titre {
    text-align: center;
  }
}
.fonctionnement .fonctionnement__explication {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 30px;
}
@media only screen and (min-width: 1000px) {
  .fonctionnement .fonctionnement__explication {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }
}
.fonctionnement .fonctionnement__liste {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
  position: relative;
  background-color: #ececec;
}
.fonctionnement .fonctionnement__liste:hover {
  background-color: #f8eef8;
  cursor: pointer;
}
.fonctionnement .fonctionnement__liste:hover i {
  color: #9356DC;
}
@media only screen and (min-width: 1000px) {
  .fonctionnement .fonctionnement__liste {
    margin: 10px;
    padding-right: 35px;
  }
}
.fonctionnement .fonctionnement__liste i {
  padding: 0 20px 0 50px;
  color: #a5a5a5;
}
.fonctionnement .fonctionnement__liste .fonctionnement__chiffre {
  display: flex;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  border: 1px solid #f2f2f2;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #9356DC;
  position: absolute;
  left: -15px;
}

/*Page d'accueil - Resataurants*/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f3f0f0;
}
@media only screen and (min-width: 634px) {
  .restaurants {
    background-color: transparent;
  }
}
.restaurants .restaurants__titre {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding: 30px 0 30px 15px;
}
@media only screen and (min-width: 815px) {
  .restaurants .restaurants__titre {
    text-align: center;
  }
}
.restaurants .restaurants__bloc {
  background-color: #f3f0f0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 634px) {
  .restaurants .restaurants__bloc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 40px;
    background-color: transparent;
  }
}
.restaurants .restaurants__bloc .restaurants__cartes {
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  height: 250px;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
  margin: 20px 15px;
  text-decoration: none;
  color: #1da551;
  position: relative;
}
.restaurants .restaurants__bloc .restaurants__cartes img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 15px 15px 0 10px;
  text-align: left;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris {
  display: flex;
  padding-bottom: 1.5rem;
  align-self: center;
  font-size: 1.5rem;
  justify-content: flex-end;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris svg {
  height: 1em;
  width: 1em;
  font-size: 30px;
  position: absolute;
  right: 10px;
}
@media (min-width: 768px) {
  .restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris svg {
    right: 50px;
  }
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris .favoris__active {
  position: absolute;
  opacity: 0;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris:hover {
  cursor: pointer;
  animation: favoris 0.5s ease;
  -webkit-animation: favoris 1s ease;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris:hover .favoris__active {
  opacity: 1;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte .favoris:hover .favoris__inactive {
  opacity: 0;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  padding: 5px 7px;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  border-color: transparent;
}

/*footer*/
.footer {
  background-color: #2e2e2e;
  text-align: left;
  padding: 20px;
  text-decoration: none;
}
.footer img {
  filter: invert(100%);
  width: 100px;
  padding-bottom: 15px;
}
.footer .footer__liste {
  padding-bottom: 25px;
}
.footer .footer__liste a {
  text-decoration: none;
  color: #fff;
}
.footer .footer__liste i {
  padding-right: 25px;
  width: 5px;
}

/*PAGE MENUS*/
/*header*/
.header__pages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__pages i {
  font-size: 20px;
  margin-left: 10px;
  color: #000;
  position: absolute;
  left: 10px;
  bottom: 20px;
}
.header__pages .logo {
  text-align: center;
}

.background {
  background-position: center, center;
  background-size: cover;
  height: 20em;
}
@media only screen and (min-width: 1110px) {
  .background {
    height: 40em;
  }
}
.background img {
  height: 100%;
  width: 100%;
  background-position: center, center;
  background-size: cover;
  object-fit: cover;
}

.menu {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}
.menu .menu__name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin: 20px 0;
  border-radius: 40px 40px 0 0;
  margin-top: -30px;
  background-color: whitesmoke;
}
.menu .menu__name .favoris {
  display: flex;
  padding-bottom: 1.5rem;
  align-self: center;
  font-size: 1.5rem;
  justify-content: flex-end;
}
.menu .menu__name .favoris svg {
  height: 1em;
  width: 1em;
  font-size: 30px;
  position: absolute;
  right: 10px;
}
@media (min-width: 768px) {
  .menu .menu__name .favoris svg {
    right: 50px;
  }
}
.menu .menu__name .favoris .favoris__active {
  position: absolute;
  opacity: 0;
}
.menu .menu__name .favoris:hover {
  cursor: pointer;
  animation: favoris 0.5s ease;
  -webkit-animation: favoris 1s ease;
}
.menu .menu__name .favoris:hover .favoris__active {
  opacity: 1;
}
.menu .menu__name .favoris:hover .favoris__inactive {
  opacity: 0;
}
@media (min-width: 768px) {
  .menu .menu__name {
    justify-content: center;
  }
}
.menu h1 {
  padding: 20px;
}

.menu__bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 1109px) {
  .menu__bloc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.menu__bloc h2 {
  text-align: left;
  margin-left: 20px;
}
.menu__bloc .menu__choix {
  margin-bottom: 30px;
}
.menu__bloc .menu__choix hr {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 40px;
  margin-left: 20px;
  border: 2px solid #99E2D0;
  background-color: #99E2D0;
}
.menu__bloc .menu__choix .btn__menu {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
  padding: 15px;
  margin: 3%;
  width: 94%;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.menu__bloc .menu__choix .btn__menu:nth-of-type(1) {
  animation: apmenu 0.5s ease;
  -webkit-animation: apmenu 0.5s ease;
}
.menu__bloc .menu__choix .btn__menu:nth-of-type(2) {
  animation: apmenu 1s ease;
  -webkit-animation: apmenu 0.5s ease;
}
.menu__bloc .menu__choix .btn__menu:nth-of-type(3) {
  animation: apmenu 1.5s ease;
  -webkit-animation: apmenu 0.5s ease;
}
.menu__bloc .menu__choix .btn__menu:nth-of-type(4) {
  animation: apmenu 2s ease;
  -webkit-animation: apmenu 0.5s ease;
}
.menu__bloc .menu__choix .btn__menu p {
  text-align: left;
}
.menu__bloc .menu__choix .btn__menu:hover {
  cursor: pointer;
}
.menu__bloc .menu__choix .btn__menu .menu__titre {
  width: 100%;
  transition: width 0.3s ease;
}
.menu__bloc .menu__choix .btn__menu .menu__prix {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__bloc .menu__choix .btn__menu .menu__prix p:first-of-type {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}
.menu__bloc .menu__choix .btn__menu .menu__prix p:last-of-type {
  font-weight: bold;
  margin-right: 5px;
  margin-left: auto;
}
.menu__bloc .menu__choix .btn__menu .menu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
  height: 100%;
  position: absolute;
  right: 0;
  width: 15%;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}
.menu__bloc .menu__choix .btn__menu .menu__check i {
  color: #fff;
  align-items: center;
  font-size: 25px;
}
.menu__bloc .menu__choix .btn__menu:hover .menu__check {
  align-items: center;
  justify-content: center;
  transform: translateX(0);
}
.menu__bloc .menu__choix .btn__menu:hover .menu__check i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}
.menu__bloc .menu__choix .btn__menu:hover .menu__titre {
  width: 80%;
}

.commander {
  margin: 50px 0;
}

/*# sourceMappingURL=style.css.map */
