/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*responsive */
/*menu*/
body {
  min-width: 375px;
  list-style-type: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.wrapper {
  min-width: 375px;
  max-width: 1500px;
  margin: 0 auto;
}

/*PAGE D'ACCUEIL*/
/*header*/
header {
  width: 100%;
  background-color: #fff;
}

.logo {
  width: 150px;
  padding: 20px 0 15px 0;
}

/*localisation-Titre*/
.presentation {
  display: flex;
  flex-direction: column;
  background-color: #faf8f8;
}
.presentation .presentation__localisation {
  display: flex;
  justify-content: center;
  background-color: #f0ecec;
  padding: 10px 0;
  border-top: 3px solid #d6d4d4;
}
.presentation .presentation__localisation .icon {
  margin-right: 15px;
}
.presentation .presentation__site {
  margin: 20px 45px;
}
.presentation .presentation__site h1 {
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}
.presentation .presentation__site p {
  font-weight: 100;
}

.btn__action {
  padding: 10px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  border-radius: 25px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
}
.btn__action:hover {
  cursor: pointer;
  opacity: 0.6;
  box-shadow: 6px 6px 5px 2px grey;
}

/*Fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.fonctionnement .fonctionnement__titre {
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding-left: 15px;
}
@media only screen and (min-width: 815px) {
  .fonctionnement .fonctionnement__titre {
    text-align: center;
  }
}
.fonctionnement .fonctionnement__explication {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 30px;
}
@media only screen and (min-width: 1000px) {
  .fonctionnement .fonctionnement__explication {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
  }
}
.fonctionnement .fonctionnement__liste {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
  position: relative;
  background-color: #ececec;
}
.fonctionnement .fonctionnement__liste:hover {
  background-color: #f8eef8;
  cursor: pointer;
}
.fonctionnement .fonctionnement__liste:hover i {
  color: #9356DC;
}
@media only screen and (min-width: 1000px) {
  .fonctionnement .fonctionnement__liste {
    margin: 10px;
    padding-right: 35px;
  }
}
.fonctionnement .fonctionnement__liste i {
  padding: 0 20px 0 50px;
  color: #a5a5a5;
}
.fonctionnement .fonctionnement__liste .fonctionnement__chiffre {
  display: flex;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  border: 1px solid #f2f2f2;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #9356DC;
  position: absolute;
  left: -15px;
}

/*Resataurant*/
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants .restaurants__titre {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding: 30px 0 30px 15px;
}
@media only screen and (min-width: 815px) {
  .restaurants .restaurants__titre {
    text-align: center;
  }
}
.restaurants .restaurants__bloc {
  background-color: #f3f0f0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 634px) {
  .restaurants .restaurants__bloc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants .restaurants__bloc .restaurants__cartes {
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  height: 250px;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
  margin: 20px 15px;
  text-decoration: none;
  color: #1da551;
  position: relative;
  max-width: 600px;
}
.restaurants .restaurants__bloc .restaurants__cartes img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__cartes__texte {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 15px 20px 0 10px;
  text-align: left;
}
.restaurants .restaurants__bloc .restaurants__cartes .restaurants__nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  padding: 5px 7px;
  border: 1px solid #a0f7d0;
  background-color: #a0f7d0;
}
.restaurants .restaurants__bloc .restaurants__cartes i {
  font-size: 25px;
}
.restaurants .restaurants__bloc .restaurants__cartes i:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*footer*/
.footer {
  background-color: #2e2e2e;
  text-align: left;
  padding: 20px;
  text-decoration: none;
}
.footer img {
  filter: invert(100%);
  width: 100px;
  padding-bottom: 15px;
}
.footer .footer__liste {
  padding-bottom: 25px;
}
.footer .footer__liste a {
  text-decoration: none;
  color: #fff;
}
.footer .footer__liste i {
  padding-right: 25px;
  width: 5px;
}

/*PAGE MENUS*/
/*header*/
.header__pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__pages i {
  font-size: 20px;
  margin-left: 10px;
  color: #000;
  margin-right: 25px;
}
.header__pages .logo {
  text-align: center;
}

.background1 {
  background-image: url(../Maquettes/images/restocomp/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: center, center;
  background-size: cover;
  height: 20em;
}

.background2 {
  background-image: url(../Maquettes/images/restocomp/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: center, center;
  background-size: cover;
  height: 20em;
}

.background3 {
  background-image: url(../Maquettes/images/restocomp/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: center, center;
  background-size: cover;
  height: 20em;
}

.background4 {
  background-image: url(../Maquettes/images/restocomp/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: center, center;
  background-size: cover;
  height: 20em;
}

.menu {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(1.1fr);
}
.menu .menu__name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  margin: 20px 0;
  border-radius: 40px 40px 0 0;
  margin-top: -30px;
  background-color: whitesmoke;
}
.menu i {
  font-size: 20px;
}
.menu h1 {
  padding: 20px;
}

.btn__menu {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 7px 10px -6px #b9b8b8;
  padding: 15px;
  margin: 10px;
}
.btn__menu p {
  text-align: left;
}
.btn__menu:hover {
  cursor: pointer;
}

.menu__bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu__bloc .menu__entrees {
  margin-bottom: 30px;
}
.menu__bloc .menu__entrees .menu__entrees__titre {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}
.menu__bloc .menu__plats {
  margin-bottom: 30px;
}
.menu__bloc .menu__desserts {
  margin-bottom: 30px;
}
.menu__bloc .menu__desserts .menu__desserts__titre {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.commander {
  margin: 50px 0;
}

/*# sourceMappingURL=style.css.map */
