@mixin btnviolet {
    padding: 10px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    color: #fff;
    border-radius: 25px;
    border-style: none;
    font-family: $fonts1;
    font-size: 1rem;
    box-shadow: 0px 7px 10px -6px #b9b8b8;
}

@mixin survol {
    opacity: 0.60;
    box-shadow: 6px 6px 5px 2px grey;
}

@mixin restocarte {
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    height: 250px;
    box-shadow: 0px 7px 10px -6px #b9b8b8;
}

@mixin nouveau {
    border-radius: 5px;
    padding: 5px 7px;
    border: 1px solid #a0f7d0;
    background-color: #a0f7d0;
    border-color: transparent;
}


/*responsive */

@mixin titre {
    @media only screen and (min-width: 815px) {
        text-align: center;
    }
}


/*menu*/

@mixin background {
    background-position: center, center;
    background-size: cover;
    height: 20em;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@mixin btn-menu {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 7px 10px -6px #b9b8b8;
    padding: 15px;
    margin: 3%;
    width: 94%;
}

@mixin menu-titre {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin hr {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 40px;
    margin-left: 20px;
    border: 2px solid #99E2D0;
    background-color: #99E2D0;
}

@mixin btn-check {
    background: #99E2D0;
    border-radius: 0 20px 20px 0;
    height: 100%;
    position: absolute;
    right: 0;
    width: 15%;
}

@mixin check {
    transition: transform 0.5s;
}

@mixin menuanim {
    transform: translateY(100%);
    transition: transform .3s ease;
}

@mixin coeur {
    .favoris {
        display: flex;
        padding-bottom: 1.5rem;
        align-self: center;
        font-size: 1.5rem;
        justify-content: flex-end;
        svg {
            height: 1em;
            width: 1em;
            font-size: 30px;
            position: absolute;
            right: 10px;
        }
        .favoris__active {
            position: absolute;
            opacity: 0;
        }
        &:hover {
            cursor: pointer;
            animation: favoris 0.5s ease;
            .favoris__active {
                opacity: 1;
            }
            .favoris__inactive {
                opacity: 0;
            }
        }
    }
}